body{font-family:sans-serif,Arial;font-size:12px;background:url(../images/admin/bg.jpg)}
a{text-decoration:none;font-family:sans-serif;font-size:12px;color:#9c9c9}
h1,h2,h3,h4,h5,h6{font-weight:100}
a:visited{color:#fff}
.error{font-size:30px;text-align:center}
h2{color:#6c6c6e;font-family:sans-serif;font-size:20px;margin:0;padding:5px 0 0 0;line-height:22px}
.main{width:900px;margin:auto}
#logo-holder{text-align:center;padding:15px 0}
.menu{background:#5f5f5f;border-radius:10px 5px 0 0;list-style:none;margin:0;padding:0;color:#fff;min-height:36px;font-size:13px}
.menu a{font-size:inherit;color:inherit}
.menu li{background:#5f5f5f;float:left;padding:10px 25px;margin:0;border-right:2px solid #d8d8d8;position:relative;border-bottom:0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.menu li:first-child{border-radius:5px 0 0 0}
.menu li:hover{background:#4c4c4c;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.menu li:hover .drop-menu{height:85px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}
.menu ul{display:block;overflow:hidden;height:0;background:#5f5f5f;list-style:none;margin:0;padding:0;color:#fff;font-size:13px;position:absolute;top:36px;left:-2px;width:125px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}
.menu ul li a{font-size:inherit;color:inherit}
.menu ul li:first-child{border-radius:0}
.menu ul li{background:#5f5f5f;padding:5px 25px;margin:0;float:none;border-top:2px solid #d8d8d8;border-right:0;cursor:pointer;border-bottom:0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.menu ul li:hover{background:#4c4c4c;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.menu .selected{background:#4c4c4c}
.menu img{vertical-align:middle}
.menu .menu-right{cursor:auto;float:right;border:0;border-radius:0 10px;}
.menu .menu-right:hover{background:inherit}
.menu-right a{font-size:11px;float:left;margin-right:15px;} 
.menu-right img{float:left;margin-right:4px;height:16px}
#header{height:105px;padding:20px 10px 15px 15px;background-color:rgba(000,000,000,0.4);background-image:url(../images/admin/elementi/dekor.png);background-position:right;background-repeat:no-repeat;border-radius:0 0 5px 5px}
#header h2{color:#fff;padding:0;font-family:arial}
#header p{width:550px;text-align:justify;color:#fff;margin:5px 0}
.top{height:80px;padding:10px;background-color:rgba(000,000,000,0.4);border-radius:0 0 5px 5px}
.top img{float:left}
.top a img{margin:0 10px 0 0}
.top h2{color:#fff;padding:0;font-family:arial}
.top p{width:550px;text-align:justify;color:#fff;margin:5px 0}
.intro{float:left;width:550px}
.action{list-style:none}
.action li{float:left;margin:0 10px;color:#fff;text-align:center;cursor:pointer}
.action img{float:none}
.img_menu{width:650px;float:left;display:inline-block}
.img_menu ul{list-style:none;padding:0;margin:0}
.img_menu li{float:left;margin:40px 15px 25px 0;width:280px;padding:10px;height:100px}
.img_menu p{color:#6c6c6c;margin-top:5px;line-height:19px;font-size:12px;letter-spacing:.1px}
.img_menu li img{float:left;margin-right:10px}
.info_spark{text-align:justify;color:#6c6c6c;letter-spacing:.5px;line-height:16px;padding-top:40px;width:195px;font-size:12px;letter-spacing:.2px}
.info_spark div{margin:20px 0}
.info_spark p{padding:0;margin:5px 0 0 0}
.info_spark img{float:right;margin:0 0 10px 10px}
.info_spark h3{font-size:18px;color:#6c6c6e;margin:0;text-transform:uppercase}
.footer{background-color:rgba(000,000,000,0.4);padding:5px 20px;border-radius:7px;color:#fff;text-align:right;margin-bottom:50px}
.content{width:870px;display:inline-block;padding:15px 15px;min-height:475px}
.table-main td{border:1px solid #aaa;padding:8px;color:#585858}
.table-main a{font-weight:bold;color:#585858}
.table-check{width:25px}
.table-id{width:25px}
.table-head{color:#585858;font-weight:bold;font-size:14px;cursor:pointer}
.table-head th{background:#fec841;border:0;padding:10px 0 6px 5px;vertical-align:text-bottom}
.table-head th:first-child{border-radius:10px 0 0 0}
.table-head th:last-child{border-radius:0 10px 0 0}
.table-td0{width:25px}
.table-tr1{background:rgba(255,255,255,0.18);padding:10px}
.table-tr2{background:rgba(000,000,000,0.05);padding:10px}
.myCheckbox input{display:none}
.myCheckbox span{width:20px;height:20px;display:block;background:url(../images/admin/elementi/check_box.png) center center no-repeat}
.myCheckbox input:checked+span{background:url(../images/admin/elementi/checked_box.png) center center no-repeat}
#editor-form input{margin:6px 0}
#editor-form input[type="text"]{border:1px solid #98979c;height:20px;padding-left:5px;width:575px}
#editor-form input[type="password"]{border:1px solid #98979c;height:20px;padding-left:5px;width:575px}
#editor-form .area{border:1px solid #98979c;height:70px;width:575px;padding-left:5px;vertical-align:top;resize:none}
#editor-form select{margin:6px 0}
#editor-form .span75{display:inline-block;min-width:75px}
#editor-form .span150{display:inline-block;min-width:150px}
.login-logo{text-align:center;margin-top:75px}
.login{width:800px;padding-top:300px;background:url(../images/admin/lokot.png) center top no-repeat;margin:50px auto;text-align:center}
.login a{color:#000;text-decoration:underline}
.login p{margin-bottom:5px}
.login form{position:relative}
.login form input[type="text"],.login form input[type="password"]{border:1px solid #CCC;border-radius:5px;height:30px;padding-left:10px;color:#666;margin:5px 0 5px -35px}
.login form input[type="submit"]{position:absolute;background:url(../images/admin/elementi/login_arrow.png) center center no-repeat;background-color:#fec940;border-radius:7px;height:77px;border:0;width:35px;top:5px;cursor:pointer;margin-left:7px;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
.login form input[type="submit"]:hover{background-color:#faa61a;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
#pagination{visibility:hidden}
#pagination img{vertical-align:text-bottom}
.pagination{margin-top:20px}
.page-list{cursor:pointer;margin-left:100px}
.page-list span{margin:0 1px}
.loading{background:#fff url(../images/admin/loading.gif) no-repeat center center;width:170px;height:30px;border:1px solid #999;position:fixed;top:400px;left:50%;margin-left:-85px}
.btn{display:inline-block;padding:4px 12px;margin-bottom:0;font-size:14px;line-height:20px;color:#333;text-align:center;text-shadow:0 1px 1px rgba(255,255,255,0.75);vertical-align:middle;cursor:pointer;background-color:#f5f5f5;background-image:linear-gradient(to bottom,#fff,#e6e6e6);background-repeat:repeat-x;border-width:1px;border-style:solid;-moz-border-top-colors:none;-moz-border-right-colors:none;-moz-border-bottom-colors:none;-moz-border-left-colors:none;border-image:none;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) #b3b3b3;border-radius:4px 4px 4px 4px;box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0px 1px 2px rgba(0,0,0,0.05)}
.btn:hover,.btn:focus{color:#333;text-decoration:none;background-position:0 -15px;transition:background-position .1s linear 0s}
.btn-primary{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#006dcc;background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)}
.btn:hover,.btn:focus,.btn.active,.btn.disabled,.btn[disabled]{color:#333;background-color:#e6e6e6}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#fff;background-color:#04c}
.btn:active{border-style:inset;border-color:#000}
