/* CSS Document */
/***************************************/
/*** 7" Tablet *************************/
/***************************************/
@media only screen and (max-width: 779px) {
	.page{
		padding:170px 48px 25px 36px;
		margin-bottom:110px;
		display:inline-block;
	}
	.page p{
		font-size:20px;
	}
	.page li{
		font-size:20px;
		width:470px;
	}
	.logo{
		visibility:collapse;
	}
	.klijenti{
		margin:0;
	}
	#page4 div{
		margin-left:25px;
	}
	.holder{
		width:600px;
		margin:0 auto;
		background:#fff url(../images/gradient.png) repeat-x top center;
		box-shadow:0 0 30px rgba(000,000,000,0.5);
	}
	.header ul li{
		float:left;
		padding:60px 0 20px 0;
		text-align:center;
		width:120px;
		border-right:3px solid #fff;
		text-transform:uppercase;
		color:#fff;
		font-size:22px;
		text-shadow:2px 2px 2px #000;
		cursor:pointer;
		color:rgba(255,255,255,0.8);

	}
	.header ul li:first-child{
		background:#fff url(../images/logo_kontakt.png) no-repeat center center;
		width:103px;
		min-height:110px;
		padding:0 0 0 20px;
		font-size:0px;
	}
	.header ul li:nth-child(5){
		background:url(../images/menu/linkovi.png) no-repeat top center;
		width:105px;
		border-right:0px;
	}
	#page5 div{
		margin-top:50px;
		width:510px;
		text-align:center;
	}
	#page5 div p{
		font-size:20px;
		margin:5px 0;
	}
}
/***************************************/
/*** Tablet - iPad *********************/
/***************************************/
@media only screen and (min-width: 780px) and (max-width: 974px) {
	.page{
		padding:200px 48px 25px 36px;
		margin-bottom:190px;
		display:inline-block;
	}
	.page p{
		font-size:18px;
	}
	.page li{
		font-size:18px;
		width:670px;
	}
	.klijenti{
		margin-top:25px;
	}
	.holder{
		max-width:760px;
		margin:0 auto;
		background:#fff url(../images/gradient.png) repeat-x top center;
		box-shadow:0 0 30px rgba(000,000,000,0.5);
	}
	.header ul li{
		float:left;
		padding:60px 0 20px 20px;
		text-align:center;
		width:117px;
		border-right:3px solid #fff;
		text-transform:uppercase;
		color:#fff;
		font-size:22px;
		text-shadow:2px 2px 2px #000;
		cursor:pointer;
		color:rgba(255,255,255,0.8);

	}
	.header ul li:first-child{
		background:#fff url(../images/logo.png) no-repeat center center;
		width:188px;
		min-height:110px;
		padding:0 0 0 20px;
		font-size:0px;
	}
	.header ul li:nth-child(5){
		background:url(../images/menu/linkovi.png) no-repeat top center;
		width:109px;
		border-right:0px;
	}
	#page5 div{
		width:670px;
		text-align:center;
		margin-top:50px;
	}
	#page5 div p{
		font-size:18px;
		margin:5px 0;
	}
	#page5 .linkovi-left{
		float:left;
		margin-bottom:50px;
	}

}
/***************************************/
/*** Widescreen ************************/
/***************************************/
@media only screen and (min-width: 975px) {
	.page{
		padding:200px 48px 25px 36px;
		margin-bottom:190px;
		display:inline-block;
	}
	.klijenti{
		margin-top:120px;
	}
	.holder{
		max-width:960px;
		margin:0 auto;
		background:#fff url(../images/gradient.png) repeat-x top center;
		box-shadow:0 0 30px rgba(000,000,000,0.5);
	}
	.header ul li{
		float:left;
		padding:60px 0 20px 20px;
		text-align:center;
		width:149px;
		border-right:3px solid #fff;
		text-transform:uppercase;
		color:#fff;
		font-size:22px;
		text-shadow:2px 2px 2px #000;
		cursor:pointer;
		color:rgba(255,255,255,0.8);
	}
	.header ul li:first-child{
		background:#fff url(../images/logo.png) no-repeat center center;
		width:248px;
		min-height:110px;
		padding:0 0 0 20px;
		font-size:0px;
	}
	.header ul li:nth-child(5){
		background:url(../images/menu/linkovi.png) no-repeat top center;
		width:153px;
		border-right:0px;
	}
	#page5 .linkovi-left{
		margin-right:80px;
		text-align:right;
	}
	
	#page5 div{
		margin-top:50px;
		float:left;
		width:395px;
	}
}


