/* CSS Document */
/***************************************/
@media only screen and (max-width: 619px) {
	#top{top:60px;}
	#top-langs{width:95%;}
	.page{
		padding:105px 48px 25px 36px;
		margin-bottom:110px;
		display:inline-block;
	}
	.page p{
		font-size:20px;
	}
	.page li{
		font-size:20px;
		width:100%;
	}
	.usluga{float:left;width:90%;margin:10px 0;min-height:200px;}
	.logo{
		visibility:collapse;
	}
	.klijenti{
		margin:0;
	}
	#holder{
		overflow:hidden;
		width:100%;
		min-width:300px;
		margin:0 auto;
		background:#fff url(../images/gradient.png) repeat-x top center;
		box-shadow:0 0 30px rgba(000,000,000,0.5);
	}
	#header{background:#fff;padding:0;height:71px;position:fixed;width:100%}
	#header .menu li{
		padding:10px 0 10px 10%;
		text-align:left;
		width:100%;
		border-right:0;
		text-transform:uppercase;
		color:#fff;
		font-size:19px;
		text-shadow:1px 1px 1px #000;
		cursor:pointer;
		color:rgba(255,255,255,0.5);
		border-bottom:1px solid rgba(0,0,0,0.5);
	}
	#header .menu li:first-child{
		background:rgba(0,0,0,0.7) url(../images/logo_mini.png) no-repeat 25px center;
		font-size:0px;
		height:50px;
	}
#header .menu li:nth-child(2){
/* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ed4141), to(#9e1919)); 
 /* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #ed4141, #9e1919); 
 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #ed4141, #9e1919);
  /* IE 10 */ background: -ms-linear-gradient(top, #ed4141, #9e1919);
 /* Opera 11.10+ */ background: -o-linear-gradient(top, #ed4141, #9e1919);
}
#header .menu li:nth-child(3){
	 /* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffeb47), to(#ffc203)); 
 /* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #ffeb47, #ffc203); 
 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #ffeb47, #ffc203);
  /* IE 10 */ background: -ms-linear-gradient(top, #ffeb47, #ffc203);
 /* Opera 11.10+ */ background: -o-linear-gradient(top, #ffeb47, #ffc203);
}
#header .menu li:nth-child(4){
 /* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c6fd70), to(#58820f)); 
 /* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #c6fd70, #58820f); 
 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #c6fd70, #58820f);
  /* IE 10 */ background: -ms-linear-gradient(top, #c6fd70, #58820f);
 /* Opera 11.10+ */ background: -o-linear-gradient(top, #c6fd70, #58820f);
 }
#header .menu li:nth-child(5){
 /* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#53d0ff), to(#1355a9)); 
 /* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #53d0ff, #1355a9); 
 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #53d0ff, #1355a9);
  /* IE 10 */ background: -ms-linear-gradient(top, #53d0ff, #1355a9);
 /* Opera 11.10+ */ background: -o-linear-gradient(top, #53d0ff, #1355a9);
		border-right:0px;
	}
	#page3 p{
		width:100%;
	}
	.klijenti p{float:left;width:90%;text-align:left;font-size:18px;line-height:20px;margin:20px 0 0 0;color:#6d6c6c;}

	#page4{padding-bottom:50px;background:url(../images/line_sep.png) no-repeat center bottom;width:100%;max-width:599px;padding-left:0;}
	#page4 div{min-width:300px; width:99%;}
	#page4 div:nth-child(even){margin:0 0 0 30px;;padding-top:10px;}
	#page4 div .karta{float:none;border:1px solid #c6c6c6;padding:5px 5px 5px 5px;min-width:305px;margin:0;}
	#page4 h2{margin-left:30px;}

	#page5{width:100%;margin-top:50px;padding-top:225px;padding-bottom:200px;padding-right:54px;margin-bottom:0;background: #efefef url(../images/linkovi_knjiga.png) center top  no-repeat;}
	#page5 div{
		margin-top:50px;
		width:100%;
		text-align:center;
	}
	#page5 div p{
		font-size:20px;
		margin:5px 0;
	}
}

/*** 7" Tablet *************************/
/***************************************/
@media only screen and (min-width: 620px) and (max-width:779px) {
	#top-langs{width:570px;}
	.page{
		padding:170px 48px 25px 36px;
		margin-bottom:110px;
		display:inline-block;
	}
	.page p{
		font-size:20px;
	}
	.page li{
		font-size:20px;
		width:470px;
	}
	.usluga{float:left;min-width:400px;max-width:400px;margin:10px 0;min-height:200px;}

	.logo{
		visibility:collapse;
	}
	.klijenti{
		margin:0;
	}
	#page4 div{
		margin-left:25px;
	}
	#holder{
		width:600px;
		margin:0 auto;
		background:#fff url(../images/gradient.png) repeat-x top center;
		box-shadow:0 0 30px rgba(000,000,000,0.5);
	}
	#header .menu li{
		float:left;
		padding:60px 0 20px 0;
		text-align:center;
		width:110px;
		border-right:0;
		text-transform:uppercase;
		color:#fff;
		font-size:22px;
		text-shadow:2px 2px 2px #000;
		cursor:pointer;
		color:rgba(255,255,255,0.8);

	}
	#header .menu li:first-child{
		background:#fff url(../images/logo.png) no-repeat center center;
		width:160px;
		min-height:110px;
		padding:0;
		font-size:0px;
	}
#header .menu li:nth-child(2){
/* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ed4141), to(#9e1919)); 
 /* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #ed4141, #9e1919); 
 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #ed4141, #9e1919);
  /* IE 10 */ background: -ms-linear-gradient(top, #ed4141, #9e1919);
 /* Opera 11.10+ */ background: -o-linear-gradient(top, #ed4141, #9e1919);
}
#header .menu li:nth-child(3){
	 /* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffeb47), to(#ffc203)); 
 /* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #ffeb47, #ffc203); 
 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #ffeb47, #ffc203);
  /* IE 10 */ background: -ms-linear-gradient(top, #ffeb47, #ffc203);
 /* Opera 11.10+ */ background: -o-linear-gradient(top, #ffeb47, #ffc203);
}
#header .menu li:nth-child(4){
 /* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c6fd70), to(#58820f)); 
 /* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #c6fd70, #58820f); 
 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #c6fd70, #58820f);
  /* IE 10 */ background: -ms-linear-gradient(top, #c6fd70, #58820f);
 /* Opera 11.10+ */ background: -o-linear-gradient(top, #c6fd70, #58820f);
 }
#header .menu li:nth-child(5){
 /* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#53d0ff), to(#1355a9)); 
 /* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #53d0ff, #1355a9); 
 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #53d0ff, #1355a9);
  /* IE 10 */ background: -ms-linear-gradient(top, #53d0ff, #1355a9);
 /* Opera 11.10+ */ background: -o-linear-gradient(top, #53d0ff, #1355a9);
		border-right:0px;
	}
	.klijenti p{float:left;max-width:420px;min-width:420px;text-align:left;font-size:18px;line-height:20px;margin:20px 0 0 0;color:#6d6c6c;}

	#page4 div{float:left;min-width:400px;}
#page4 div:nth-child(even){margin:0 0 0 25px;padding-top:10px;}
#page4 div .karta{float:none;border:1px solid #c6c6c6;padding:5px 5px 5px 5px;min-width:396px;margin:0;}
#page4{padding-bottom:50px;background:url(../images/line_sep.png) no-repeat center bottom;}

	#page5{margin-top:50px;padding-top:225px;padding-bottom:200px;padding-right:54px;margin-bottom:0;background: #efefef url(../images/linkovi_knjiga.png) center top  no-repeat;}
	#page5 div{
		margin-top:50px;
		width:510px;
		text-align:center;
	}
	#page5 div p{
		font-size:20px;
		margin:5px 0;
	}
}
/***************************************/
/*** Tablet - iPad *********************/
/***************************************/
@media only screen and (min-width: 780px) and (max-width: 979px) {
	#top-langs{width:715px;}
	.page{
		padding:200px 48px 25px 36px;
		margin-bottom:190px;
		display:inline-block;
	}
	.page p{
		font-size:18px;
	}
	.page li{
		font-size:18px;
		width:670px;
	}
	.usluga{float:left;min-width:400px;max-width:400px;margin:10px 0;min-height:200px;}

	.klijenti{
		margin-top:25px;
	}
	#holder{
		max-width:760px;
		margin:0 auto;
		background:#fff url(../images/gradient.png) repeat-x top center;
		box-shadow:0 0 30px rgba(000,000,000,0.5);
	}
	#header .menu li{
		float:left;
		padding:60px 0 20px 0;
		text-align:center;
		width:135px;
		border-right:3px solid #fff;
		text-transform:uppercase;
		color:#fff;
		font-size:22px;
		text-shadow:2px 2px 2px #000;
		cursor:pointer;
		color:rgba(255,255,255,0.8);

	}
	#header .menu li:first-child{
		background:#fff url(../images/logo.png) no-repeat center center;
		width:188px;
		min-height:110px;
		padding:0 0 0 20px;
		font-size:0px;
	}
#header .menu li:nth-child(2){
/* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ed4141), to(#9e1919)); 
 /* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #ed4141, #9e1919); 
 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #ed4141, #9e1919);
  /* IE 10 */ background: -ms-linear-gradient(top, #ed4141, #9e1919);
 /* Opera 11.10+ */ background: -o-linear-gradient(top, #ed4141, #9e1919);
}
#header .menu li:nth-child(3){
	 /* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffeb47), to(#ffc203)); 
 /* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #ffeb47, #ffc203); 
 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #ffeb47, #ffc203);
  /* IE 10 */ background: -ms-linear-gradient(top, #ffeb47, #ffc203);
 /* Opera 11.10+ */ background: -o-linear-gradient(top, #ffeb47, #ffc203);
}
#header .menu li:nth-child(4){
 /* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c6fd70), to(#58820f)); 
 /* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #c6fd70, #58820f); 
 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #c6fd70, #58820f);
  /* IE 10 */ background: -ms-linear-gradient(top, #c6fd70, #58820f);
 /* Opera 11.10+ */ background: -o-linear-gradient(top, #c6fd70, #58820f);
 }
#header .menu li:nth-child(5){
 /* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#53d0ff), to(#1355a9)); 
 /* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #53d0ff, #1355a9); 
 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #53d0ff, #1355a9);
  /* IE 10 */ background: -ms-linear-gradient(top, #53d0ff, #1355a9);
 /* Opera 11.10+ */ background: -o-linear-gradient(top, #53d0ff, #1355a9);
		border-right:0px;
	}
	.klijenti p{float:left;max-width:420px;min-width:420px;text-align:left;font-size:18px;line-height:20px;margin:20px 0 0 0;color:#6d6c6c;}

	#page4 div{float:left;min-width:400px;}
#page4 div:nth-child(even){margin:0 0 0 25px;padding-top:10px;}
#page4 div .karta{float:none;border:1px solid #c6c6c6;padding:5px 5px 5px 5px;min-width:396px;margin:0;}
#page4{padding-bottom:50px;background:url(../images/line_sep.png) no-repeat center bottom;}

	#page5{margin-top:50px;padding-top:225px;padding-bottom:200px;padding-right:54px;margin-bottom:0;background: #efefef url(../images/linkovi_knjiga.png) center top  no-repeat;}
	#page5 div{
		width:670px;
		text-align:center;
		margin-top:50px;
	}
	#page5 div p{
		font-size:18px;
		margin:5px 0;
	}
	#page5 .linkovi-left{
		float:left;
		margin-bottom:50px;
	}

}
/***************************************/
/*** Widescreen ************************/
/***************************************/
@media only screen and (min-width: 980px) {
	#top-langs{width:920px;}
	.page{
		padding:200px 48px 25px 36px;
		margin-bottom:190px;
		display:inline-block;
	}
	.klijenti{
		margin-top:120px;
	}
	#holder{
		max-width:960px;
		margin:0 auto;
		background:#fff url(../images/gradient.png) repeat-x top center;
		box-shadow:0 0 30px rgba(000,000,000,0.5);
	}
	.usluga{float:left;min-width:400px;max-width:400px;margin:10px 0;min-height:200px;}
	#header .menu li{
		float:left;
		padding:60px 0 20px 0;
		text-align:center;
		width:175px;
		border-right:3px solid #fff;
		text-transform:uppercase;
		color:#fff;
		font-size:22px;
		text-shadow:2px 2px 2px #000;
		cursor:pointer;
		color:rgba(255,255,255,0.8);
	}
	#header .menu li:first-child{
		background:#fff url(../images/logo.png) no-repeat center center;
		width:248px;
		min-height:110px;
		padding:0 0 0 20px;
		font-size:0px;
	}
	#header .menu li:nth-child(2){
		background:url(../images/menu/usluge.png) no-repeat top center;
	}
	#header .menu li:nth-child(3){
		background:url(../images/menu/klijenti.png) no-repeat top center;
	}
	#header .menu li:nth-child(4){
		background:url(../images/menu/kontakt.png) no-repeat top center;
	}
	#header .menu li:nth-child(5){
		background:url(../images/menu/linkovi.png) no-repeat top center;
		width:155px;
		border-right:0px;
	}
	.klijenti p{float:left;max-width:420px;min-width:420px;text-align:left;font-size:18px;line-height:20px;margin:20px 0 0 0;color:#6d6c6c;}

	#page4{width:860px;}
	#page4 .divs{float:left;min-width:400px;}
	#page4 #info{margin:0 0 0 25px;padding-top:10px;}
	#page4 div .karta{float:none;border:1px solid #c6c6c6;padding:5px 5px 5px 5px;min-width:396px;margin:0;}
	#page4{padding-bottom:50px;background:url(../images/line_sep.png) no-repeat center bottom;}

	#page5{margin-top:50px;padding-top:225px;padding-bottom:200px;padding-right:54px;margin-bottom:0;background: #efefef url(../images/linkovi_knjiga.png) center top  no-repeat;}
	#page5 .linkovi-left{
		margin-right:80px;
		text-align:right;
	}
	
	#page5 div{
		margin-top:50px;
		float:left;
		width:395px;
	}
}

